bmi-calculator/.idea/
bmi-calculator/venv/
tkinter-lib-exercises/.idea/
tkinter-lib-exercises/venv/
try-exchange-rate-indicator/.idea/
try-exchange-rate-indicator/venv/
turtle-lib-exercises/.idea/
turtle-lib-exercises/venv/
.DS_Store