APP-bmi-calculator/.idea/
APP-bmi-calculator/venv/

tkinter-lib-exercises/.idea/
tkinter-lib-exercises/venv/

APP-try-exchange-rate-indicator/.idea/
APP-try-exchange-rate-indicator/venv/

turtle-lib-exercises/.idea/
turtle-lib-exercises/venv/

APP-secret-notes/.idea/
APP-secret-notes/venv/

APP-CryptoCrazyDownload/.idea/
APP-CryptoCrazyDownload/venv/

RequestsExample/.idea/
RequestsExample/venv/

APP-sub-domain-finder/.idea/
APP-sub-domain-finder/venv/

SeleniumTests/.idea

APP-bmi-calculator/.DS_Store
APP-try-exchange-rate-indicator/.DS_Store
turtle-lib-exercises/.DS_Store
APP-secret-notes/.DS_Store
APP-CryptoCrazyDownload/.DS_Store
RequestsExample/.DS_Store
SeleniumTests/.DS_Store
APP-sub-domain-finder/.DS_Store
